<!-- Main chart container -->
<div class="chart-container">
  <div class="legend-container">
    <div class="legend-item">
      <span class="legend-circle" style="background: #e0e0e0"></span> Portfolio
    </div>
    <div class="legend-item">
      <span class="legend-circle" style="background: #c62828"></span> PDT
    </div>
    <div class="legend-item">
      <span class="legend-circle" style="background: #012169"></span> Team
    </div>
    <div class="legend-item">
      <span
        class="legend-circle"
        style="background: #fff; border: 1px solid #ccc"
      ></span>
      Contributor
    </div>
  </div>
  <div id="chart"></div>
</div>

<!-- Alignments Grid -->
<div class="alignments-container" *ngIf="selectedNode">
  <app-alignment
    [title]="selectedNode + ' Details'"
    [data]="gridView"
    [state]="gridState"
    [selectableSettings]="selectableSettings"
    [loading]="false"
    [rowSelected]="rowSelected"
    [nodeType]="selectedNode"
    [scale]="getCurrentScale()"
    (dataStateChange)="dataStateChange($event)"
    (selectionChange)="onRowSelect($event)"
  ></app-alignment>
</div>
